%ul
  - unless @auto_complete.blank?
    - @auto_complete.each do |item|
      - name = item.name << (item.is_a?(WarehouseList) ? " (#{item.number})" : "")
      %li{ :id => item.to_param }= highlight(truncate(name, :lenght => 45), @query)
  - else
    %li== 没有 #{contronller_chinese_name(controller.controller_name)} 匹配 <font color="yellow">#{@query}</font>
